
#hex {
    z-index: -2;
    width: 100%;
    min-height: 100vh;

    color: #faeaea2e !important;
}
#hex{
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



#hexagonGrid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#hexagonGrid .row {
    display: inline-flex;
    flex-wrap: nowrap;
    margin-top: -32px;
    margin-left: -50px;
}
#hexagonGrid .row:nth-child(even) {
    margin-left: 2px;
}
#hexagonGrid .row .hexagon {
    position: relative;
    width: 100px;
    height: 110px;
    margin: 4px 2px;
    background: #fff8f824;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    transition: 2s;

}
#hexagonGrid .row .hexagon::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #3d4fb7;
    opacity: 0;
    transition: 1s;
}
#hexagonGrid .row .hexagon::after {
    content: "";
    position: absolute;
    top: 4px;
    right: 4px;
    bottom: 4px;
    left: 4px;
    background: #ffffff;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
#hexagonGrid .row .hexagon:hover::before {
    background: rgb(35 163 189 / 20%);
    opacity: 10;
    transition: 0s;
    animation: animate 4s linear infinite;
}
#hexagonGrid .row .hexagon:hover::after {
    background: #ffffff;
}

@keyframes animate {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

/*body {
  z-index: 2;
  position: relative;
  background-color: black !important;
  width: 100%;
  min-height: 100vh;
  animation: animate 4s linear infinite;
  color: white !important;

}

section {
  z-index: -2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#particles {
  background: #ffffff;
  width: 100%;
  height: 100%;
}

#hexagonGrid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#hexagonGrid .row {
  display: inline-flex;
  flex-wrap: nowrap;
  margin-top: -32px;
  margin-left: -50px;
}
#hexagonGrid .row:nth-child(even) {
  margin-left: 2px;
}
#hexagonGrid .row .hexagon {
  position: relative;
  width: 100px;
  height: 110px;
  margin: 4px 2px;
  background: #1c1b1b;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  transition: 2s;
}
#hexagonGrid .row .hexagon::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  opacity: 0;
  transition: 1s;
}
#hexagonGrid .row .hexagon::after {
  content: "";
  position: absolute;
  top: 4px;
  right: 4px;
  bottom: 4px;
  left: 4px;
  background: #000000;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
#hexagonGrid .row .hexagon:hover::before {
  background: rgb(35 108 164 / 50%);
  opacity: 10;
  transition: 0s;
  animation: animate 4s linear infinite;
}
#hexagonGrid .row .hexagon:hover::after {
  background: #000010;
}

@keyframes animate {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}


/*body {
  z-index: 2;
  position: relative;
  background-color: black !important;
  width: 100%;
  min-height: 100vh;
  animation: animate 4s linear infinite;
  color: white !important;

}

section {
  z-index: -2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#particles {
  background: #ffffff;
  width: 100%;
  height: 100%;
}

#hexagonGrid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#hexagonGrid .row {
  display: inline-flex;
  flex-wrap: nowrap;
  margin-top: -32px;
  margin-left: -50px;
}
#hexagonGrid .row:nth-child(even) {
  margin-left: 2px;
}
#hexagonGrid .row .hexagon {
  position: relative;
  width: 100px;
  height: 110px;
  margin: 4px 2px;
  background: #1c1b1b;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  transition: 2s;
}
#hexagonGrid .row .hexagon::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  opacity: 0;
  transition: 1s;
}
#hexagonGrid .row .hexagon::after {
  content: "";
  position: absolute;
  top: 4px;
  right: 4px;
  bottom: 4px;
  left: 4px;
  background: #000000;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
#hexagonGrid .row .hexagon:hover::before {
  background: rgba(100, 2, 113, 0.5);
  opacity: 10;
  transition: 0s;
  animation: animate 4s linear infinite;
}
#hexagonGrid .row .hexagon:hover::after {
  background: #000010;
}

@keyframes animate {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
